div.label {
    font-size: 22px;
    background: transparent;
    padding: 30px;
}

div.paragraph {
    font-size: 16px;
    padding: 0px 30px 20px 30px;
}

ul.languageList {
    float: left;
    padding: 0px 0px 10px 40px;
    width: 100px;
}

#home {
    float: left;
    transition: background 0.5s, opacity 0.5s;
}

#thoughtTicker {
    height: 25%;
}

#summary {
    float: left;
    min-height: 200px;
    width: 50%;
    background: cornflowerblue;
}

#languages {
    float: left;
    width: 50%;
    min-height: 200px;
    background: cadetblue;
}

#experience {
    float: left;
    width: 100%;
    height: 500px;
}