* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
}

body {
    background: darkslategray;
}

h1 {
    padding: 50px 0px 0px 30px;
}

p {
    max-width: 750px;
    font-size: 16px;
    padding: 50px 20px 20px 30px;
}

footer {
    height: 100px;
    float: left;
    background: gray;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-top: 25px;
}

.navigation {
    float: left;
    padding-left: 20px;
}

#grayBar {
    padding: 0px;
    height: 60px;
    background: transparent;
}

.navigation li {
    display: inline-block;
    padding: 20px 40px 5px 40px;
    margin: 0px -4px 0px 0px;
    text-align: center;
    text-decoration: none;
    transition: color .5s;
}

    .navigation li:hover {
        color: lightgray;
        cursor: pointer;
    }
    
.navigation>li.activeItem {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: white;
    border-radius: 0px 0px 10px 10px;
    background: cadetblue;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    height: 30px;
    cursor: default;
}